# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/CPAP_MCU_STC8/LIST
/CPAP_MCU_STC8/OBJ
/CPAP_MCU_STC8/CPAP.uvopt

/CPAP_MCU_STC8/CPAP.uvgui.Administrator
/CPAP_MCU_STC8/CPAP_uvopt.bak
/CPAP_MCU_STC8/CPAP_uvproj.bak

/CPAP_MCU_STC8/HARDWARE/tm7711.c
/CPAP_MCU_STC8/HARDWARE/tm7711.h

/CPAP_MCU_STC8.rar